html{
    background-color:rgb(252, 245, 211);
}
.usos ol li{
    font-size: 25px;
}
.usos ol ul li{
    font-size: 23px;
}
.Index li a{
    display: block;
    color: black;
    text-decoration: none;
    border: solid 2px rgb(128, 62, 0);
    padding: 14px;
    text-align: center;
}
.Index li a:hover{
    background-color: rgb(128, 62, 0);
}
.Index li{
    float: left;
    float: right;
    width: 33.33%;
    list-style-type: none;
}
.Index{
    overflow: hidden;
    background-color: wheat;
}

h2{
    font-size: 40px;
    color: brown;
    background-color: rgb(255, 232, 205);
    border: solid 2px rgb(10, 40, 41);
    padding-left: 20px;
}
p{
    font-size: 25px;
    color: black;
    text-align: justify;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

table, th, td {
  border:1px solid rgb(128, 62, 0);
}
table{
    width: 100%;
    background-color: wheat;
}
table th,.a{
    background-color: rgb(250, 213, 145);
}
table .x .z{
    text-align: center;
}
.div{
    margin-bottom: 5px;
}
h3{
    font-size: 35px;
    color: brown;
    margin-left: 1%;
}
.switch ul li{
    font-size: 23px;
}
.Links{
    list-style-type: circle;
}
.Links a{
    color: rgb(31, 131, 245);
    font-size: 20px;
}
.Links ul{
    text-align: center;
    list-style-type: none;
    margin-top: 3%;
}
.Links,.div{
    padding-bottom: 20px;
}
.else_if p,.if_else_if p{
    text-align: justify;
}
.if p{
    text-align: justify;
}
.switch p{
    text-align: justify;
}
.switch h2{
    margin-top: 0px;
}
.switch ul{
    list-style-type: square;
}
.switch ul li{
    margin-bottom: 5px;
}
.switch ul ul li{
    font-size: 20px;
}
.switch ul ul{
    margin-top: 5px;
    margin-bottom: 10px;
}
footer {
  background-color: wheat;
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(128, 62, 0);
  margin-top: 30px;
  
}
.img{
    position: absolute;
    right: 0;
    top: 20px;
}
footer img{
    width: 100px;
    position: absolute;
    right: 20px;
}

.Introduccion img{
  display: block;       
  margin-left: auto;    
  margin-right: auto;    

}
@media screen and (min-width: 480px) {
  .img, .ia{
    width: 100px;
  }
  .cond{
    width:450px;
  }
}